Options -Indexes -MultiViews
RewriteEngine On

<FilesMatch "\.(ini|env|log|sql|sh|lock)$">
    Require all denied
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [QSA,L]
